/*按钮文字*/
header section > .headright > div {
  color: #ffd0c8;
}
.content > div {
  height: 136px;
  margin-top: 50px;
  position: relative;
}
.content > div > div {
  width: 276px;
  height: 190px;
  position: absolute;
  left: 50%;
  margin-left: -138px;
  bottom: -40px;
  background-size: 275px;
}
.content > div > div p:nth-of-type(1) {
  font-size: 16px;
}
.content > div > div p:nth-of-type(2) {
  font-size: 14px;
  color: #747474;
}
.content > div > div p:nth-of-type(3) {
  font-size: 14px;
  color: #747474;
}
.content > div > div p:nth-of-type(3) a {
  color: #d0503b;
}
