<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no, email=no" />
        
        <link rel="stylesheet" href="{{$g.cdn}}/css/p/{{pageName}}.css">
    </head>
    <body>
        <div class="astro-wrap">
                <point:content />
        </div>
    <script src="{{$g.cdn}}/js/mo.1.0.0.js"></script>
    <script src="{{$g.cdn}}/js/p/{{pageName}}.js"></script>
    </body>
</html>