 <div class="adr-dailog">
	<h3>您可能在这里</h3>
	<div class="adr-d-tips">
	    <i class="m-icon i-location"></i>定位失败，点击重新定位
	</div>
	<div class="adr-d-tips hide">
	    <i class="m-icon i-reload"></i>正在定位中，请稍候...
	</div>
	<div class="adr-citys">
		<ul>
			<div>
			<li class="on">北京</li>
			<li>上海</li>
			<li>哈尔滨</li>
			<li>黑河</li>
			<li>石家庄</li>
			<li>邯郸</li>
			<li>大连</li>
			<li>北京</li>
			<li>上海</li>
			<li>哈尔滨</li>
			<li>黑河</li>
			<li>石家庄</li>
			<li>邯郸</li>
			<li>大连</li>
			<li>北京</li>
			<li>上海</li>
			<li>哈尔滨</li>
			<li>黑河</li>
			<li>石家庄</li>
			<li>邯郸</li>
			<li>大连</li>
			</div>
		</ul>
	</div>
	<div class="adr-btn-box">
	    <a href="#" class="m-btn btn-hollow-s">输入精确位置</a>
	    <a href="#" class="m-btn btn-hollow-s">返回首页</a>		
	</div>
</div>
<div class="adr-mark"></div> 