



/* 底部导航栏 颜色 */

@navBorderColor: #c8c8c8;
@navBackgroundColor: #f4f4f4;
@navClassBorderColor: #323232;
@navClassAhover: #d0503b;
@navClassAColor:#747474;



/* 底部导航栏 样式 */

nav.nav {
    #display .box();
    height: 5.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.0rem;
    border-top: 0.1rem solid @navClassBorderColor;
    background: @navClassBorderColor;
    z-index: 2
}

nav.nav a {
    color: @navClassAColor;
    #display .box();
    #display .flex(1);
    #display .box-align(center, center);
    #display .orient(vertical);

}

nav.nav a i {
    width: 26px;
    height: 24px;
    display: block;
    margin-bottom: 4px;
}

nav.nav a.on {
    color:@navClassAhover;
}

i.home-page, i.order, i.user{

	background-image: url(ico.png);
    background-repeat: no-repeat;
    -moz-background-size: 115px;
    -webkit-background-size: 115px;
    -o-background-size: 115px;
    background-size: 115px;
}
i.home-page {
    background-position: 0 -61px;
}
i.order {
    background-position: -60px -61px;
}
i.user {
    background-position: -88px -61px;
}