.getbtn(hollow);
.none{
	position:absolute;
	top:50%;
	left:50%;
	.transform(translate(-50%,-50%));
	font-size:1.6rem;
	color:@txtSubColor;
	text-align: center;
	img{
		width:60%;

	}
	p{
		margin:5% 0 10% 0;
	}
}
// a.btn{
// 	color:@btnTxtColor;
// 	border:1px solid @btnBorderColor;
// 	padding:0.8rem 1.2rem;
// 	#box .radius(5px);
// 	&:hover,&:focus{
// 		color:@btnTxtHoverColor;
// 		background-color: @btnBgHoverColor;
// 	}
// }