/*layout-color.css*/


/*ets_wap_b*/

@charset "utf-8";

/* 基础色 */

@baseMainColor: #fff;
@baseSubColor: #000;

/* body 颜色*/

@backgroundColor: #eef2f5;

/* 业务模块颜色设置 */

@businessModuleWaimai: #ff5844; //外卖
@businessModuleFacePay: #5dc549; //当面付
@businessModuleDianCai: #f7b540; //堂食
@businessModuleHuiYuan: #7860e3; //会员

/* 首页底部备案 部分 颜色*/

@footeraColor: #28a7e1;
@footerBorderColor: #ebebeb;
@footerColor: #747474;


// 字体
@fontSizeBusinessModuleH3: 1.5rem;
@fontSizeBusinessModuleP: 1rem;

/*首页样式*/

body {
    background-color: @backgroundColor !important;
    line-height: 1.5;
    font-family: "Hiragino Sans GB W3", "微软雅黑";
    padding-bottom: 50.0rem;
}

.header {
    height: 4.4rem;
    padding: 0 0.8rem;
    width: 100%;
    #display .box();
    #display .box-align(center, center);
    background-color: @baseMainColor;
    .logo {
        #display .flex(1);
        height: 3.6rem;
        img {
            height: 100%;
        }
    }
}


/* 业务模块样式 */

.nav-business-module {
    margin: 0.8rem 0.8rem 0;
    ul {
        overflow: hidden;
        li {
            position: relative;
            display: inline-block;
            width: 49%;
            height: 10.0rem;
            margin-bottom: 0.5rem;
            border-radius: 0.3rem;
            color: @baseMainColor;
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 1.0rem;
                color: @baseMainColor;
            }
            img {
                position: absolute;
                height: 50%;
                top: 1.9rem;
                right: 1.2rem;
            }
            h3 {
                margin-top: 4.0rem;
                font-size: @fontSizeBusinessModuleH3;
            }
            p {
                font-size: @fontSizeBusinessModuleP;
                opacity: 0.7;
            }
        }
        .waimai {
            background-color: @businessModuleWaimai;
        }
        .diancai {
            background-color: @businessModuleDianCai;
        }
        .dangmianfu {
            background-color: @businessModuleFacePay;
        }
        .huiyuan {
            background-color: @businessModuleHuiYuan ;
        }
        li:nth-child(even) {
            float: right;
        }
        li:nth-child(1) {
            width: 100%;
            border-right: none;
        }
        li:nth-child(1) h3 {
            font-size: @fontSizeBusinessModuleH3;
            margin-top: 2.6rem;
        }
        li:nth-child(1) img {
            height: 70%;
            margin-right: 1.0rem;
        }
        li:nth-child(odd) {
            float: right;
        }
        li:nth-child(even) {
            float: none;
        }
    }
    ul.even-function-block {
        li:first-child {
            width: 100%;
        }
    }
}


/* 轮播图 样式 */

.swiper-wrapper {
    .swiper-slide {
        height: 100%;
    }
    div img {
        width: 100%;
        height: 100%;
        float: left;
    }
}


/* 首页底部备案 部分 样式  */

footer {
    padding: 1.5rem 0;
    height: auto;
    text-align: center;
    border: 0.1rem solid @footerBorderColor;
    color: @footerColor;
    a {
        color: @footeraColor;
    }
}



